@import "../../../../theme/colors";
@import "../../../../theme/sizings";

.listItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $gap-m;
  padding: $gap-s $gap-m 0 $gap-m;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &:hover {
    opacity: 1;
  }
  .left {
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap-s;
    &:hover {
      .tabBar {
        height: $font-l * 1.2;
        width: 5px;
      }
    }
    &:active {
      .tabBar {
        height: $font-l * 1.3;
        width: 5px;
      }
    }
    .tabBar {
      height: $font-l;
      transition: 0.1s;
      border-radius: 999px;
    }
  }

  .right {
    font-size: $font-l;
    font-weight: $weight-semiBold;
    color: $dark-gray;
    user-select: inherit;
    &:hover {
      font-size: 20px;
    }
  }
}
