$red: #ff9494;
$dark-red: #f17474;

$dark-blue: #42a0c8;
$blue: #6ebcdf;

$green: #a1ff75;
$dark-green: #86ec56;

$yellow: #ffe175;
$dark-yellow: #f6cf44;

$light-gray: #f2f2f2;
$gray: #c2c2c2;
$dark-gray: #898989;

$black: #4f4f4f;
$white: #fff;
