$gap-s: 8px;
$gap-m: 16px;
$gap-l: 32px;
$gap-xl: 40px;
$gap-xxl: 48px;

$font-s: 12px;
$font-m: 15px;
$font-l: 18px;
$font-xl: 24px;

$weight-thin: 200;
$weight-normal: 400;
$weight-semiBold: 600;
$weight-bold: 800;

$border-radius: 4px;

$shadows-config: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
