html {
  box-sizing: border-box;
  height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
#root {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "open sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
